description "mediaTUM server"
author  "mediaTUM team"

start on runlevel [234]
stop on runlevel [0156]

chdir {{ mediatum_basedir }}/mediatum
setuid {{ mediatum_server_user }}
setgid {{ mediatum_group }}
exec python start.py
respawn

